@layer utilities {
  .pwa-titlebar-area {
    position: fixed;
    background: theme('colors.primary.DEFAULT');
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 33px);
  }

  .styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    &::-webkit-scrollbar {
      width: var(--scrollbar-width);
      padding: var(--scrollbar-width);
    }
    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: var(--scrollbar-thumb-radius);
      border: var(--scrollbar-thumb-border);
    }
  }

  html.pwa-app {
    @apply styled-scrollbar overscroll-none;
    body {
      @apply p-safe standalone:min-h-100vmax min-h-100vmin;
      > main {
        @apply p-4;
      }
    }
    a {
      -webkit-touch-callout: none !important; // disable preview links on long press
      -webkit-tap-highlight-color: transparent; // disable tap highlight
      -webkit-user-drag: none; // disable dragging of links
    }
  }

  .p-safe {
    @apply pb-safe-bottom pl-safe-left pr-safe-right pt-safe-top;
  }

  .px-safe {
    @apply pl-safe-left pr-safe-right;
  }

  .py-safe {
    @apply pb-safe-bottom pt-safe-top;
  }

  // 100% Large Viewport Height
  .min-h-100lvh {
    min-height: 100lvh;
  }

  // 100% Small Viewport Height
  .min-h-100svh {
    min-height: 100lvmin;
  }

  // 100% Dynamic Viewport Height
  .min-h-100dvh {
    min-height: 100dvh;
  }

  // 100% Viewport Height
  .min-h-100vh {
    min-height: 100vh;
  }

  // 100% Maximum Viewport Height
  .min-h-100vmax {
    min-height: 100vmax;
  }

  // 100% Minimum Viewport Height
  .min-h-100vmin {
    min-height: 100vmin;
  }

  .y-scrollable {
    overflow-y: auto;
    overscroll-behavior: none;
    overflow-x: hidden;
    max-width: 100%;
  }

  .x-scrollable {
    overflow-x: auto;
    overscroll-behavior: none;
    overflow-y: hidden;
    max-height: 100%;
  }

  .full-words {
    // A pattern that makes text wrap at word boundaries, without breaking word letters
    overflow-wrap: normal;
    hyphens: none;
  }

  .full-word-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}
